.testimonials {
  position: relative;
  width: 100%;
  background-color: aliceblue;
}

.testimonials--title {
  margin: 0 3rem auto;
  text-align: center;
  color: #169fed;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 30rem;
  margin: auto;
}

.card-container {
  position: relative;
  width: 36rem;
  height: 22rem;
}

.background-block {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.card-container svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  color: #169fed;
}

.card-container svg:hover {
  cursor: pointer;
  color: blue;
}

article {
  position: absolute;
  height: 100%;
  transition: all 1s;
}

.card {
  position: absolute;
  height: 22rem;
  width: 30rem;
  margin: 1rem;
  background-color: #169fed;
  border-radius: 1rem;
  text-align: center;
  color: white;
  box-sizing: border-box;
  user-select: none;
}

.card:hover {
  cursor: pointer;
}

.prevCard {
  left: 0;
  opacity: 0;
  z-index: -1;
}

.activeCard {
  left: 50%;
  transform: translateX(-50%);
}

.nextCard {
  left: 100%;
  transform: translateX(-100%);
  opacity: 0;
  z-index: -1;
}

/* Carousel buttons */

.leftBtn {
  left: -3rem;
}

.rightBtn {
  right: -3rem;
}

/* Paginator styles */
.paginator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 30rem;
  height: 2rem;
}

.hr {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #169fed;
}

.dot {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #169fed;
  z-index: 1;
  transition: all 1s;
}

.dot:hover {
  cursor: pointer;
}

.dot.active {
  box-shadow: 0 0 0 4px #169fed;
  background-color: white;
}

@media (min-width: 426px) and (max-width: 1276px) {
}

@media screen and (max-width: 425px) {
  .container {
    width: 100%;
    overflow: hidden;
  }

  .card-container {
    width: 80%;
  }

  .prevCard {
    left: -35%;
  }

  .nextCard {
    left: 135%;
  }

  .leftBtn {
    display: none;
  }
}
