* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 26px;
}

p {
  font-size: 20px;
}

@media (min-width: 451px) and (max-width: 1279px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 16px;
  }

  p {
    font-size: 12px;
  }
}
